.card {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.cardItem{

  box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
}
.card-container {
  display: flex;
  justify-content: center;
}
  
  .card-child > img {
    width: 200px;
  }
  
  .card-child:hover {
    opacity: 0.7;
    transition: opacity 300ms ease-in;
  }
  
  .card__info > h3 {
    font-size: 18px;
    font-weight: 600;
  }
  
  .card__info > h4 {
    font-size: 14px;
    font-weight: 300;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .card-mapping {
    display: flex;

    justify-content: space-between;
  }
  
  .card-child {
    opacity: 1;
    list-style: none;
    max-width: 200px;
    padding: 10px 0;
  }

  .card-child > div {
    margin-left: 10px;
  }